.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  pointer-events: none;  
  transition: 0.3s transform, 0.3s opacity;
  transform: translateY(5px);
  display: block;
  opacity: 0;

  &:hover{
    transform: translateY(-5px);
  }
}
.back-to-top__svg {
  fill: #050101;
}
.work-page--dark {
  .back-to-top__svg {
    fill: white;
  }
} 

/* visible */
.back-to-top--show,
.work-page--down .back-to-top {
  pointer-events: visible;
  opacity: 1;
  transform: translateY(0);
}