.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;

  > button {
    font-size: 40px;
    background: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
      color: #CCC;
    }
  }
}