.work-step {
  background-image: linear-gradient(#ebe9e9, #f0f0f0 600px);
  position: relative;
  padding-top: 90px;
  padding-bottom: 150px;
  counter-reset: 2;
  counter-increment: index;
}
.work-step__title {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 100px;
  font-weight: 700;
  letter-spacing: 2px;

  /* Step Number */
  &:before {
    content: "0" counter(index);
    position: absolute;
    top: 0;
    background-color: #818181;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 34px;
    width: 85px;
    height: 85px;
    line-height: 95px;
    transform: translate(-50%, -50%);
    left: 50%;
    box-shadow: 0px 10px 20.16px 0.84px rgba(1, 0, 1, 0.11);
  }
  &:after {
    content: "";
    border-bottom: 5px solid #464646;
    width: 38px;
    display: block;
    margin: 20px auto 0;
  }
}
.work-step__description {
  max-width: 700px;
  width: 100%;
  margin: 100px auto;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 100;
}
.work-step__full-image {
  margin-bottom: 120px;
}
