.work-intro {
  padding: 100px 0 80px;
  width: 100%;

  .container {
    margin: 0 auto;
    max-width: 770px;
  }
  img {
    margin-bottom: 80px;
  }
}
.work-intro__subtitle {
  font-size: 65px;
  margin-bottom: 20px;
  line-height: 1.2;
}
.work-intro__description {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.6px;
}

@media (--viewport-med) {
  .work-intro__subtitle {
    font-size: calc(30px + 3.6vw);
  }
}