.work-intro {
  padding: 80px 0;
  text-align: center;
  width: 100%;

  .container {
    margin: 0 auto;
    max-width: 700px;  
  }
  img {
    margin-bottom: 20px;
  }
  .work-intro__title {
    font-size: 0;
  }
  h3 {
    font-size: 65px;
    margin-bottom: 20px;
  }
}