:root {
  --ect-colorfulDetails: #ff1d4f;
  --ect-text: #333333;
  --ect-BGDefault: #e7e6e4;
}
.ect {
  background-color: var(--ect-BGDefault);
  color: var(--ect-text);

  h2 {
    color: var(--ect-colorfulDetails);
  }
  .work-intro .container {
    max-width: 840px;
  }
  .chess-list__title {
    font-weight: 600;
    font-size: 42px;
  }
  .chess-list > li p {
    max-width: 410px;
  }
  .work-sitemap img {
    margin-bottom: 100px;
  }
  .work-step__title:before {
    background-color: var(--ect-colorfulDetails);
  }
  .work-step__title:after {
    border-color: var(--ect-colorfulDetails);
  }
  .work-step--ect02 {
    padding-bottom: 10px;
  }
  .chess-list__title:after {
    border-color: var(--ect-colorfulDetails);
  }
  .chess-list img {
    transform: translateX(12%);
  }
  .image-full--devices {
    margin-bottom: 120px;
  }
  .work-credits {
    padding-bottom: 150px;
  }
  .work-credits__title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .work-credits__description {
    margin-bottom: 40px;
    font-size: 20px;
    color: #9d9c9b;

    a {
      color: #9d9c9b;
      border-bottom: 1px solid;
    }
  }
}

@media (--viewport-min) {
  .ect {
    .chess-list__title {
      font-size: 35px;
    }
    .work-credits {
      padding-bottom: 100px;
    }
    .work-credits__description {
      font-size: inherit;
      line-height: inherit;
    }
  }
}