:root {
  --ect-colorfulDetails: #ff1d4f;
  --ect-text: #333333;
  --ect-BGDefault: #e6e5e3;
}
.ect {
  background-color: var(--ect-BGDefault);
  color: var(--ect-text);

  h2 {
    color: var(--ect-colorfulDetails);
  }
  .work-intro .container {
    max-width: 920px;
  }
  .work-sitemap img {
    margin-bottom: 100px;
  }
  .work-step__title:before {
    background-color: var(--ect-colorfulDetails);
  }
  .work-step__title:after {
    border-color: var(--ect-colorfulDetails);
  }
  .chess-list__title:after {
    border-color: var(--ect-colorfulDetails);
  }
  .chess-list img {
    transform: translateX(12%);
  }
  .work-credits__title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .work-credits__description {
    margin-bottom: 40px;
    font-size: 20px;
    color: #9d9c9b;

    a {
      color: #9d9c9b;
      border-bottom: 1px solid;
    }
  }
}