:root {
  --dy-text: #cdcdcd;
  --dy-BGDefault: #141414;
}
.dy {
  background-color: var(--bbp-BGDefault);
  color: var(--dy-text);

  h2 {
    color: white;
  }
  .work-intro .container {
    max-width: 1050px;
  }
  .work-intro__subtitle {
    color: white;
  }
}