:root {
  --dy-text: #cdcdcd;
  --dy-BGDefault: #0C0C0C;
}
.dy {
  background-color: var(--dy-BGDefault);
  color: var(--dy-text);
  a {
    color: white;
    border-bottom: 1px solid white;
  }
  h2 {
    color: white;
  }
  .work-intro .container {
    max-width: 1050px;
  }
  .work-intro__subtitle {
    color: white;
  }
  .work-objective .container {
    max-width: 1150px;
  }
  .chess-list__title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
  }
  .chess-list__title:after {
    border-color: white;
  }
  .chess-list img {
    transform: translateX(6.5%);
  }
  .work-guideline__title {
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 90px;
  }
  .work-guideline__image {
    margin-bottom: 230px;
  }
  .credits__title {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .credits__info {
    max-width: 730px;
    margin: 0 auto 90px;
    line-height: 1.7;
    font-weight: 300;
  }
}
