:root {
  --bbp-text: #cdcdcd;
  --bbp-BGDefault: #161616;
}
.bbp {
  background-color: var(--bbp-BGDefault);
  color: var(--bbp-text);

  h2 {
    color: white;
  }
  .work-intro .container {
    max-width: 880px;
  }
  .work-intro__subtitle {
    color: white;
  }
  .work-mockup {
    overflow: hidden;

    img {
      max-width: 1668px;
      width: 131%;
    }
  }
  .work-objective {
    .container {
      max-width: 1230px;
    }
  }
  .work-sitemap {
    margin-bottom: 180px;
  }
  .work-guideline {
    margin-bottom: 150px;
  }
}