:root {
  --bbp-text: #cdcdcd;
  --bbp-BGDefault: #0B0B0B;
}
.bbp {
  background-color: var(--bbp-BGDefault);
  color: var(--bbp-text);

  h2 {
    color: white;
  }
  .work-intro .container {
    max-width: 900px;
  }
  .work-intro__subtitle {
    color: white;
  }
  .work-mockup {
    overflow: hidden;

    img {
      max-width: 1668px;
      width: 131%;
    }
  }
  .work-objective {
    .container {
      max-width: 1000px;
    }
  }
  .work-sitemap {
    margin-bottom: 180px;
  }
  .work-screen--home-page .work-screen__description {
    max-width: 770px;
  }
  .work-screen--private-client .work-screen__description {
    max-width: 700px;
  }
  .work-screen--investiments .work-screen__description {
    max-width: 800px;
  }
  .work-screen--financial .work-screen__description {
    max-width: 530px;
  }
  .work-screen--about-the-client .work-screen__description {
    max-width: 400px;
  }
  .work-guideline {
    margin-bottom: 20px;
  }
}
