.work-screen__image {
  box-shadow: 
    rgba(0, 0, 0, 0.2) 0px 2px 2px, 
    rgba(0, 0, 0, 0.2) 0px 4px 4px, 
    rgba(0, 0, 0, 0.2) 0px 8px 8px, 
    rgba(0, 0, 0, 0.2) 0px 16px 16px, 
    rgba(0, 0, 0, 0.2) 0px 32px 32px, 
    rgba(0, 0, 0, 0.2) 0px 64px 64px;
}
.work-screen__info {
  display: flex;
  align-items: flex-end;
  padding: 80px 0 65px;
}
.work-screen__title {
  font-size: 50px;
  margin-right: 80px;
  white-space: nowrap;

  &:before {
    content: "";
    border-top: 5px solid white;
    width: 32px;
    display: block;
    margin: 0 0 30px auto;
  }
}
.work-screen__description {
  text-align: left;
  line-height: 1.6;
  max-width: 730px;
}
.work-screen::after {
  content: "";
  height: 315px;
  display: block;
  width: 2px;
  background: linear-gradient(#3f3f3f, transparent);
  margin: 0 auto;
}

@media (--viewport-med) {
  .work-screen__info {
    align-items: flex-start;
    flex-direction: column;
    padding-top: 40px;
  }
  .work-screen__title {
    margin-right: 0;
    margin-bottom: 20px;
    font-size: calc(31px + 2vw);
    white-space: normal;
    text-align: left;

    &:before {
      margin: 0 auto 30px 0;
    }
  }
}