.header-navigation {
  position: absolute;
  bottom: var(--side-spacing);
  left: var(--side-spacing);
  right: var(--side-spacing);
  display: flex;
  justify-content: space-between;
  z-index: 3;
}
.header-navigation__item {
  background: transparent;
  color: #a5a5a5;
  border: none;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 0;
}
.header-navigation__item:before,
.header-navigation__item:after {
  height: 2px;
}
@media (--viewport-max) {
  .header-navigation {
    bottom: var(--fluid-side-spacing)vw;
    left: var(--fluid-side-spacing)vw;
    right: var(--fluid-side-spacing)vw;
  }
}
@media (--viewport-min) {
 .header-navigation {
    bottom: calc(var(--fluid-side-spacing) * 2)vw;
    left: calc(var(--fluid-side-spacing) * 2)vw;
    right: calc(var(--fluid-side-spacing) * 2)vw;
  } 
}