.header-navigation {
  position: absolute;
  bottom: 80px;
  left: 80px;
  right: 80px;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}
.header-navigation__item {
  background: transparent;
  color: #a5a5a5;
  border: none;
  font-size: 22px;
  cursor: pointer;
}
