:root {
  --cnr-colorfulDetails: #50afcc;
  --cnr-text: #333333;
  --cnr-darkText: #274560;
  --cnr-BGColorful: #5293ca;
  --cnr-BGDefault: #f0f0f0;
}
.cnr {
  background-color: var(--cnr-BGDefault);
  color: var(--cnr-text);

  h2 {
    color: var(--cnr-colorfulDetails);
    font-weight: bold;
    text-transform: uppercase;
  }
  h4 {
    text-transform: uppercase;
    font-size: 45px;
  }
  .work-step__title {
    span {
      background-color: var(--cnr-colorfulDetails);
    }
    &:after {
      border-bottom: 5px solid #e09b41;
    }
  }
}
.work-objective--cnr {
  background-color: var(--cnr-BGColorful);
  color: white;
  margin-top: -27vw;
  padding-top: 27vw;

  h2 {
    color: var(--cnr-darkText);
  }
}
.cnr__shields {
  img {
    margin-bottom: 60px;
  }
  img:first-child {
    margin-left: 0;
  }
  img:last-child {
    margin-right: 0;
  }
}

.work-step--cnr05 {
  ul {
    display: flex;
    justify-content: space-between;
  }
}