/* Chess List */
.chess-list {
  > li {
    display: flex;
    margin-bottom: 10vw;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
    p {
      max-width: 380px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      line-height: 1.5;
    }
    > div {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
.chess-list__info--sticky {
  position: sticky;
  top: 0;
  height: 100vh 
}
.chess-list__title {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 25px;

  &:after {
    content: "";
    border-bottom: 5px solid transparent;
    width: 38px;
    display: block;
    margin: 25px auto 0; 
  }
}
.chess-list--align-top {
  > li {
    align-items: inherit;
  }
}

@media (--viewport-med ) {
  .chess-list > li {
    flex-direction: column;
    margin-bottom: 30vw;

    &:nth-child(odd) {
      flex-direction: column;
    }
  }
  .chess-list > li > div {
    width: 100%;
  }
  .chess-list__info {
    margin-bottom: 20vw;
    max-height: none;
  }
  .chess-list__info--sticky {
    position: relative;
    height: auto;
  }
}

@media (--viewport-min) {
  .chess-list__title {
    font-size: 35px;
  }
  .chess-list > li {
    p {
      font-size: inherit;
      line-height: inherit;
    }
  }
}