.list-works {
  background-color: var(--whiteBackground);
  position: relative;
  z-index: 2;
}
.list-works ul {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}
.list-works ul > li {
  flex: 33%;
}

@media (--viewport-med ) {
  .list-works ul {
    padding: 10px;
  }
  .list-works ul > li {
    flex: 50%;
  }
}
@media (--viewport-min ) {
  .list-works ul > li {
    flex: 100%;
  }
}