:root {
  --cnr-colorfulDetails: rgb(70, 181, 221);
  --cnr-text: #333333;
  --cnr-darkText: #274560;
  --cnr-BGColorful: rgb(52, 158, 213);
  --cnr-BGDefault: #f0f0f0;
}

.cnr {
  background-color: var(--cnr-BGDefault);
  color: var(--cnr-text);

  h2 {
    color: var(--cnr-colorfulDetails);
  }
  h4 {
    text-transform: uppercase;
    font-size: 45px;
    margin-top: 120px;
  }
  .work-intro .container {
    max-width: 860px;
  }
  .work-mockup__image {
    min-width: 100%;
  }
  .work-step__title {
    &:before {
      background-color: var(--cnr-colorfulDetails);
    }
    &:after {
      border-bottom: 5px solid #fe950b;
    }
  }
  .cnr__shields {
    margin-top: 100px;
  }
  .work-step__description {
    margin-top: 30px;
    margin-bottom: 80px;
    max-width: 630px;
  }
  .work-results__title {
    font-weight: 700;
    font-size: 25px;
    margin: 25px 0px 5px 0px;
  }
  .work-results ul {
    width: 100%;
  }
  .work-results ul > li {
    display: inline-block;
    min-width: 140px;
    padding: 20px 20px;
    vertical-align: top;
    width: 20%;
  }
}
.work-objective--cnr {
  background-color: var(--cnr-BGColorful);
  color: white;
  margin-top: -27vw;
  padding-top: 27vw;

  h2 {
    color: var(--cnr-darkText);
  }
}
.cnr__shields {
  img {
    margin-bottom: 60px;
  }
  img:first-child {
    margin-left: 0;
  }
  img:last-child {
    margin-right: 0;
  }
}

@media (--viewport-max) {
  .cnr .work-results ul > li {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}

@media (--viewport-min) {
  .cnr {
    h4 {
      font-size: 35px;
    }
  }
}