body{
	background: #DFDFDF;
	display: flex;

	#root {
		border: 1px solid blue;
	}
}
.blur {
	filter: blur(4px);
}
@custom-media --viewport-medium (width <= 50rem);
@media (--viewport-medium) {
body { 
	font-size: 12px }
}
