
.work-page__scroll {
  overflow: auto;
  height: 100vh;
}

/* Section */
.work-page section {
  text-align: center;
   
  h2 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 35px;
    letter-spacing: 4px;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media (--viewport-min) {
  .work-page section {
    h2 {
      font-size: 16px;
    }
  }
}