.work-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
}
.work-page__scroll {
  overflow: auto;
  height: 100vh;
}

/* Active */
body.work-page-active .work-page {
  transition: 0.5s 0s opacity;
  pointer-events: visible;
  opacity: 1;
}
body.work-page-active {
  overflow: hidden;
}

/* Back Button */
.work-page__back-to-home {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 2;
  perspective: 300px;
  font-size: 0;
  z-index: 3;
  
  > div {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-out;
  }
  > div::before,
  > div::after {
    position: absolute;
    backface-visibility: hidden;
    font-size: 35px;
    color: white;
    border: 5px solid white;
    padding: 15px 9px;
    letter-spacing: 3px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  > div::before {
    content: "RL";
  }
  > div::after {
    content: "";
    background-image: url('../sections/work-page/back-to-home.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    transform: rotateX( 180deg );
  }
  &:hover > div,
  &.work-page__back-to-home--active div{
    transform: rotateX( 180deg );  
  }
}

/* Section */
.work-page section {
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}