.work-nav {
  background: #141414;
  display: flex;
  justify-content: space-around;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.work-nav__item {
  height: 300px;
  display: inline-block;
  width: 100%;
  position: relative;

  &:after {
    transition: background 0.5s;
    background: #141414;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
  }
  &:hover:after {
    background-color: rgba(20, 20, 20, 0.4);
  }
}
.work-nav__item--prev {
  border-right: 1px solid #5b5b5b;
}
.work-nav__media {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.work-nav__media--image {
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100%;
}
.work-nav__media--video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.work-nav__info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  pointer-events: none;
  z-index: 3;
}
.work-nav__where {
  text-decoration: underline;
  font-size: 80px;
  font-weight: bold;
}
.work-nav__title-container {
  transition: 0.5s 0s width, 0.5s 0s opacity;
  width: 0;
  opacity: 0;
}
.work-nav__title {
  font-size: 40px;
  margin-left: 30px;
  width: 150px;
  display: block;
}
.work-nav__item:hover .work-nav__title-container {
  transition: 0.5s 0s width, 0.5s 0.1s opacity;
  width: 150px;
  opacity: 1;
}
.work-nav__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (--viewport-med) {
  .work-nav__item {
    height: 200px;
  }
  .work-nav__title-container {
    display: none; 
  }
  .work-nav__where {
    font-size: 8.5vw;
    padding: 0;
  }
}

@media (--viewport-min) {
  .work-nav__item {
    height: 120px;
  }
}