.work-navigation {
  background: #141414;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.work-navigation a {
  padding: 70px 0;
  color: white;
  display: inline-block;
  width: 100%;
  text-decoration: underline;
  font-size: 80px;
  font-weight: bold;
}
.work-navigation a:first-child {
  border-right: 1px solid #5b5b5b;
}