.about-section {
  transition: 0.4s transform, 0.4s opacity;
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: visible;
  opacity: 0;

  a {
   color: rgba(250, 250, 250, 0.9);
   border-bottom: 1px solid rgba(250, 250, 250, 0.2);
   transition: 0.5s;

  }

  a:hover {
   color: white;
   border-bottom: 1px solid rgba(250, 250, 250, 0.7);
  }

  p {
    font-size: 40px;
    font-weight: normal;
    margin: 0 100px 40px;
    max-width: 990px;
    font-weight: 100;
    line-height: 60px;
    color: rgba(250, 250, 250, 0.9);
  }
  body.about-section--active & {
    transform: translateX(50%);
    opacity: 1;
    pointer-events: default;
    z-index: 2;
  }
}
.about-section__back {
  transition: 0.1s;
  color: white;
  position: absolute;
  top: 80px;
  right: 80px;
  font-size: 22px;
  opacity: 0;

  &:after {
    content: " →";
    font-family: arial;
  }

  body.about-section--active & {
    transition: 0.2s;
    opacity: 1;
  }
}
