.contact-section {
  transition: 0.4s transform;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    font-size: 40px;
    font-weight: normal;
    margin: 0 100px 40px;
    max-width: 1000px;
  }
  body.contact-section--active & {
    transform: translateX(-100%);
  }
}
.contact-section__back {
  color: white;
  position: absolute;
  top: 80px;
  left: 80px;
  font-size: 22px;

  &:before {
    content: "← ";
    font-family: arial;
  }
}