.contact-section__title {
  font-size: 44px;
  font-weight: 300;
  margin: 0 0 10px 5vw;
}
.contact-section__value {
  font-size: 44px;
  font-weight: bold;
  margin: 0 0 0 5vw;
  max-width: 1000px; 
}
.contact-section__value--email {
  margin-bottom: 10vh;
}

@media (--viewport-max ) {
  .contact-section__title {
    font-size: calc(2vw + 2vh);
  }
  .contact-section__value {
    font-size: calc(2vw + 2vh);
  }
}