:root {
  --gray: #f0f0f0;
  --pink: #ea4164;
  --purpleText: #4d3855;
  --purpleBox: #432155;
  --grayColor: #e8e8e8;
}
.mm {
  background-color: var(--gray);
  color: var(--purpleText);

  h2 {
    color: var(--pink);
    font-weight: bold;
    text-transform: uppercase;
  }
  img {
    margin: auto;
    display: block;
  }
}

/* Hero */
.mm__hero {
  background-image: url('../containers/mova-mais/images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
} 

/* Intro */
.mm__intro {
  margin: 80px auto;
  text-align: center;
  max-width: 700px;
  width: 100%;

  .mm__intro__title {
  background: no-repeat url('../containers/mova-mais/images/mova-mais.png');
  display: inline-block;
  font-size: 0;
  width: 223px;
  height: 223px;
  }
  .mm__intro__concept {
    font-size: 65px;
    color: var(--purpleText);
  }
}

/* Objective */
.mm__objective {
  margin: 100px auto 200px;
  text-align: center;
  max-width: 950px;
  width: 100%;

  p {
    font-size: 52px;
  }
}

/* Chess List */
.mm__chess-list {
  > li {
    display: flex;
    align-items: center;
    margin-bottom: 100px;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    > div {
      width: 50%;

      &.image {

      }
      &.text {
        p {
          max-width: 380px;
          margin: auto;
          font-size: 34px;
        }
      }
    }
  }
}


/* Steps */ 
.mm__step {
  position: relative;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 150px;

  .mm__step__title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 140px;

    /* Step Number */
    span {
      position: absolute;
      top: 0;
      background-color: var(--pink);
      border-radius: 50%;
      color: white;
      font-weight: bold;
      font-size: 34px;
      width: 85px;
      height: 85px;
      text-align: center;
      line-height: 85px;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
  .mm__step__description {
    max-width: 700px;
    width: 100%;
    margin: 100px auto;
    font-size: 20px;
  }
}

/* Step 01 */
.mm__step01 {
  background-color: var(--grayColor);

  .mm__step01__items {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-around;

    > li {
      flex-grow: 1;
      position: relative;

      /* Icons */
      &:before {
        content: "";
        border-radius: 50%;
        width: 200px;
        height: 200px;
        display: inline-block;
        background-color: white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.4), inset 0px -5px #e8e8e8;
        margin-bottom: 50px;
      }
      &:nth-child(1):before {
        background-image: url('../containers/mova-mais/images/flow1.svg');
      }
      &:nth-child(2):before {
        background-image: url('../containers/mova-mais/images/flow2.svg');
      }
      &:nth-child(3):before {
        background-image: url('../containers/mova-mais/images/flow3.svg');
      }
      p {
        font-size: 34px;
      }

      /* Arrow */
      &:nth-child(1):after,
      &:nth-child(2):after {
        content: "";
        position: absolute;
        right: 0;
        transform: translateX(50%);
        background-repeat: no-repeat;
        background-size: 100%;
      }
      &:nth-child(1):after {
        background-image: url('../containers/mova-mais/images/arrow1.svg');
        width: 123px;
        height: 32px;
        top: 40px;
      }
      &:nth-child(2):after {
        background-image: url('../containers/mova-mais/images/arrow2.svg');
        width: 69px;
        height: 75px;
        top: 80px;
      }
    }
  }
}

/* Step 02 */
.mm__step02 {
  background-color: var(--purpleBox);
  color: white;
  font-size: 20px;
}

/* Step 03 */
.mm__step03 {
  .mm__step03__background {
    background-image: url('../containers/mova-mais/images/daily-goal.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 1148px;
  }
}