:root {
  --bbp-text: #cdcdcd;
  --bbp-BGDefault: #161616;
}
.bbp {
  background-color: var(--bbp-BGDefault);
  color: var(--bbp-text);

  h2 {
    color: white;
  }
  .work-intro .container {
    max-width: 880px;
  }
  .work-intro__subtitle {
    color: white;
  }
  .mockup {
    overflow: hidden;

    img {
      max-width: 1668px;
      margin-left: -65px;
      width: 131%;
    }
  }
}