.header {
  background-color: var(--whiteBackground);
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  z-index: 3;
  overflow: hidden;
}
.header__title {
  transition: 0.4s transform, 0.4s opacity;
  position: fixed;
  top: 80px;
  left: 80px;
  font-size: 22px;
  font-weight: bold;
  pointer-events: none;

  body.about-section--active & {
    transform: translateX(100%);
    opacity: 0;
  }
  body.contact-section--active & {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.header__description {
  transition: 0.3s 0s transform, 0s 0s opacity;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;

  h2 {
    margin: 0 9.5vw;
    font-size: 78px;
    max-width: 930px;
  }
  body.about-section--active & {
    transition: 0.4s 0s transform, 0s 0.4s opacity;
    transform: translateX(100%);
    opacity: 0;
  }
  body.contact-section--active & {
    transition: 0.4s 0s transform, 0s 0.4s opacity;
    transform: translateX(-100%);
    opacity: 0;
  }
}
.header__background {
  content: "";
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #1b1b1b;
  border: 15px solid #313131;
  box-sizing: border-box;
  pointer-events: none;
}