.header {
  background-color: var(--whiteBackground);
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  z-index: 3;
  overflow: hidden;
}
.header__title {
  position: fixed;
  top: 80px;
  left: 80px;
  font-size: 22px;
  pointer-events: none;
}
.header__description {
  transition: 0.3s transform;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;

  h2 {
    margin: 0 9.5vw;
    font-size: 78px;
    max-width: 800px;
  }
  body.about-section--active & {
    transform: translateX(100%);
  }
}
.header__anchoring {
  position: absolute;
  bottom: 80px;
  left: 80px;
  right: 80px;
  display: flex;
  justify-content: space-between;

  .item {
    background: transparent;
    color: white;
    border: none;
    font-size: 22px;
    cursor: pointer;
  }
}
.header__background {
  content: "";
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #1b1b1b;
  border: 15px solid #313131;
  box-sizing: border-box;
  pointer-events: none;
}