@media (--viewport-min) {
  .hide-viewport--min {
    display: none!important;
  }  
}

@media (--viewport-med) {
  .hide-viewport--med {
    display: none!important;
  }  
}

@media (--viewport-max) {
  .hide-viewport--max {
    display: none!important;
  }  
}

.hide {
  display: none!important;
}