/* Break Points */
@custom-media --viewport-max (width <= 1440px);
@custom-media --viewport-med (width <= 960px);
@custom-media --viewport-min (width <= 480px);

:root {
  /* Side Spacing */
  --fluid-side-spacing: 5.5;
  --side-spacing: calc(1440 / 100 * var(--fluid-side-spacing)px);

	/* Colors */
  --whiteBackground: #fafafa;
}