.hero-intro {
  background: #fafafa;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  z-index: 3;
}
.hero-intro__title {
  position: fixed;
  top: 80px;
  left: 80px;
  font-size: 22px;
}
.hero-intro__description {
  font-size: 78px;
  margin: 0 9.5vw;
  max-width: 800px;
  position: relative;
}
.hero-intro__anchoring {
  position: absolute;
  bottom: 80px;
  left: 80px;
  right: 80px;
  display: flex;
  justify-content: space-between;

  .item {
    background: transparent;
    color: white;
    border: none;
    font-size: 22px;
    cursor: pointer;
  }
}
.hero-intro__background {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #1b1b1b;
  border: 15px solid #313131;
  box-sizing: border-box;
  pointer-events: none;
}