.hero-intro {
	position: relative;
	width: 100vw;
	height: 100vh;
	//color: white;
	color: black;
	display: flex;
	align-items: center;
}
.hero-intro__title {
	position: fixed;
	top: 80px;
	left: 80px;
	font-size: 22px;
}
.hero-intro__description {
	font-size: 78px;
	margin: 0 9.5vw;
	max-width: 800px;
}
.hero-intro__anchoring {
	position: absolute;
	bottom: 80px;
	left: 80px;
	right: 80px;
	display: flex;
	justify-content: space-between;

	.item {
		color: white;
		background: white;
		color: black;
		border: none;
		font-size: 22px;
		cursor: pointer;
	}
}