:root {
  --footerHeight: 198px;
}
.footer {
  background: #1b1b1b;
  color: white;
  padding: 80px 15px;
  position: fixed;
  height: var(--footerHeight);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.footer__networks {
  display: flex;
  justify-content: space-between;
  max-width: 1070px;
  margin: auto;
  text-align: center;

  > li {
    flex-grow: 1;
    position: relative;

    a {
      transition: color 0.5s ease;
      display: inline-block;
      color: white;
      font-size: 35px;
      font-weight: bold;
      position: relative;
      line-height: 1.2;

      &:before, 
      &:after {
        bottom: 0;
        height: 3px;
        content: '';
        display: block;
        position: absolute;
      }
      &:before {
        left: 0;
        width: 0;
        transition: width 0s ease, background 0.5s ease;
      }
      &:after {
        right: 0;
        width: 0;
        background: #fff;
        transition: width 0.5s ease;
      }
      &:hover:before {
        width: 100%;
        background: #fff;
        transition: width 0.5s ease;
      }
      &:hover:after {
        width: 100%;
        background: transparent;
        transition: all 0s ease;
      }
      &:hover {
        &.footer__twitter {
          color: #1da1f2;

          &:before {
            background-color: #1da1f2;
          }
        }
        &.footer__facebook {
          color: #3f62ac;

          &:before {
            background-color: #3f62ac;
          }
        }
        &.footer__linkedin {
          color: #1481ba;

          &:before {
            background-color: #1481ba;
          }
        }
        &.footer__instagram {
          color: #c12d9d;

          &:before {
            background-color: #c12d9d;
          }
        }
        &.footer__email {
          color: #d04335;

          &:before {
            background-color: #d04335
          }
        }
      }
    }
    &:after {
      content: "";
      width: 6px;
      height: 30px;
      background: #444;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child:after {
      display: none;
    }
  }
}
.footer__shadow {
  position: relative;
  height: var(--footerHeight);
  pointer-events: none;
  z-index: 2;

  &:after {
    background: url('../components/footer/gradient.png') repeat-x;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    pointer-events: none;
  }
}
