:root {
  --footerHeight: 198px;
}
.footer {
  background: #1b1b1b;
  color: white;
  padding: 80px 15px;
  position: fixed;
  height: var(--footerHeight);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.footer__networks {
  display: flex;
  justify-content: space-between;
  max-width: 1070px;
  margin: auto;
  text-align: center;

  > li {
    flex-grow: 1;
    position: relative;

    a {
      color: white;
      font-size: 38px;
      font-weight: bold;
    }
    &:after {
      content: "";
      width: 6px;
      height: 30px;
      background: #444;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child:after {
      display: none;
    }
  }
}
.footer__shadow {
  position: relative;
  height: var(--footerHeight);
  pointer-events: none;
  z-index: 2;

  &:after {
    background: url('../components/footer/gradient.png') repeat-x;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    pointer-events: none;
  }
}