:root {
  --mcd-text: #c4653f;
  --mcd-BGDefault: #141414;
}
.mcd {
  background-color: var(--mcd-BGDefault);
  background-image: url('../sections/emicida/media/background.jpg');
  color: var(--mcd-text);

  h2 {
    color: var(--mcd-text);
  }
  .work-intro .container {
    max-width: 1020px;
  }
  .work-objective {
    padding-top: 200px;
  }
  .chess-list > li p {
    max-width: 342px;
  }
  .chess-list__title {
    font-weight: 600;
  }
  .work-intro__subtitle {
    color: #dedfde;
  }
  .work-intro__description {
    max-width: 660px;
    margin: auto;
  }
  .work-mockup {
    position: relative;
  }
  .work-mockup img {
    transform: translateX(-4.5%);
  }
  .mcd-patter {
    background-attachment: fixed;
    height: 180px;
  }
  .mcd-patter--1 {
    background-image: url('../sections/emicida/media/patter1.png');
    background-size: 30px;
  }
  .mcd-patter--2 {
    background-image: url('../sections/emicida/media/patter2.png');
    background-size: 230px;
  }
  .mcd-patter--3 {
    background-image: url('../sections/emicida/media/patter3.png');
    background-size: 21px;
  }
  .work-objective p {
    color: #dedfde;
  }
  .work-sitemap {
    padding-bottom: 180px;
  }
  .work-pages {
    padding: 180px 0 0;
  }
  .chess-list img {
    transform: translateX(6.8%);
  }
  .chess-list__title {
    color: white;
  }
  .chess-list__title:after {
    border-color: var(--mcd-text);
  }
  .work-credits {
    overflow: hidden;
    padding-bottom: 100px;
  }
  .work-credits__image {
    max-width: 1682px;
    margin: 160px 0 80px;
    width: 117%;
    transform: translateX(4%);
  }
  .work-credits__title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
  }
  .work-credits__description {
    margin: 0 auto;
    font-size: 18px;
    max-width: 700px;
    line-height: 1.6;

    a {
      color: var(--mcd-text);
      border-bottom: 1px solid;
    }
  }
}
