:root {
  --mcd-text: #c4653f;
  --mcd-BGDefault: #141414;
}
.mcd {
  background-color: var(--mcd-BGDefault);
  background-image: url('../sections/emicida/media/background.jpg');
  color: var(--mcd-text);

  h2 {
    color: var(--mcd-text);
  }
  .work-intro .container {
    max-width: 1020px;
  }
  .work-intro__subtitle {
    color: #dedfde;
  }
  .work-intro__description {
    max-width: 660px;
    margin: auto;
  }
  .work-mockup {
    position: relative;
  }
  .work-mockup img {
    transform: translateX(-4.5%);
  }
  .mcd-patter {
    background-attachment: fixed;
    height: 180px;
  }
  .mcd-patter--1 {
    background-image: url('../sections/emicida/media/patter1.png');
    background-size: 30px;
  }
  .mcd-patter--2 {
    background-image: url('../sections/emicida/media/patter2.png');
    background-size: 230px;
  }
  .mcd-patter--3 {
    background-image: url('../sections/emicida/media/patter3.png');
    background-size: 21px;
  }
  .work-objective p {
    color: #dedfde;
  }
  .work-sitemap {
    padding-bottom: 180px;
  }
  .work-pages {
    padding: 180px 0 0;
  }
  .chess-list img {
    transform: translateX(6.8%);
  }
  .chess-list__title {
    color: white;
  }
  .chess-list__title:after {
    border-color: var(--mcd-text);
  }
  .chess-list__info {
    max-height: 71vw;
  }
  .work-guideline {
    padding: 200px 0;
  }
}