.app-container {
	position: relative;
}
.app-container:after {
	content: "";
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: #1b1b1b;
	z-index: -1;
	border: 15px solid #313131;
	box-sizing: border-box;
}