:root {
  --mm-colorfulDetails: #ff1d4f;
  --mm-text: #4d3855;
  --mm-BGColorful: #432155;
  --mm-BGDefault: #f0f0f0;
}
.mm {
  background-color: var(--mm-BGDefault);
  color: var(--mm-text);

  h2 {
    color: var(--mm-colorfulDetails);
  }

  .work-step__title {
    &:before {
      background-color: var(--mm-colorfulDetails);
    }
    &:after {
      border-bottom: 5px solid var(--mm-colorfulDetails);
    }
  }

  .chess-list__title:after {
    border-color: var(--mm-colorfulDetails);
  }

  /* FLOW */
  .work-flow__item--monitor:before {
    background-image: url('../sections/mova-mais/media/flow1.svg');
  }
  .work-flow__item--daily:before {
    background-image: url('../sections/mova-mais/media/flow2.svg');
  }
  .work-flow__item--convert:before {
    background-image: url('../sections/mova-mais/media/flow3.svg');
  }
}

/* Step 02 */
.work-step--mm02 {
  background-image: none;
  background-color: var(--mm-BGColorful);
  color: white;
  font-size: 20px;
}

.chess-list-walkt {
  img {
    max-width: 490px;
    width: 100%;
  }
  > li p {
    font-size: 34px;
    max-width: 450px;
  }
  > li:last-child {
    margin-bottom: 0;
  }
}

.chess-list-engagement {
  img {
    width: 370px;
  }
  .chess-list__title {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 50px;
    line-height: 1.3;
  }
  .chess-list__title:after {
    display: none;
  }
  p {
    font-size: 34px;
    max-width: 450px;
  }
  > li {
    margin-bottom: 0;
  }
  strong {
    color: #55c367;
    font-weight: 500;
  }
}

.chess-list--resources {
  .chess-list__title {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 50px;
    line-height: 1.3;
    max-width: 450px;
  }
}

/* Step 03 */
.work-step--mm03 {
  .work-step--mm03__background {
    background-image: url('../sections/mova-mais/media/daily-goal.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 1148px;
  }
}

/* Step 04 */
.work-step--mm04 {
  .container {
    max-width: 1150px;
  }
}

/* Step 08 */
.work-step--mm08 {
  background-image: none;
  background-color: var(--mm-BGColorful);
  color: white;

  img {
    margin-bottom: 40px;
  }
  p {
    font-size: 32px;
  }
}

.mm__available {
  padding: 115px 0;

  a {
    display: inline-block;
    margin: 30px;
    max-width: 280px;
  }
  img {
    width: 280px;
  }
}