:root {
  --mm-colorfulDetails: #ff1d4f;
  --mm-text: #4d3855;
  --mm-BGColorful: #432155;
  --mm-BGDefault: #f0f0f0;
}
.mm {
  background-color: var(--mm-BGDefault);
  color: var(--mm-text);

  h2 {
    color: var(--mm-colorfulDetails);
  }
  .work-intro .container {
    max-width: 780px;
  }
  .work-intro__logo {
    background-color: #503556;
    max-width: 170px;
    border-radius: 40px;
    box-shadow:
      rgba(0, 0, 0, .1) 0px 2px 2px,
      rgba(0, 0, 0, .1) 0px 4px 4px,
      rgba(0, 0, 0, .1) 0px 8px 8px,
      rgba(0, 0, 0, .1) 0px 16px 16px,
      rgba(0, 0, 0, .1) 0px 32px 32px,
      rgba(0, 0, 0, .1) 0px 64px 64px;
  }
  .work-objective .container {
    max-width: 960px;
  }
  .work-step__title {
    margin-bottom: 50px;

    &:before {
      background-color: var(--mm-colorfulDetails);
    }
    &:after {
      border-bottom: 5px solid var(--mm-colorfulDetails);
    }
  }
  .work-step__description {
    margin-top: 50px;
    max-width: 650px;
  }
  .chess-list__title:after {
    border-color: var(--mm-colorfulDetails);
  }

  /* FLOW */
  .work-flow {
    margin-top: 90px;
  }
  .work-flow__item--monitor:before {
    background-image: url('../sections/mova-mais/media/flow1.svg');
  }
  .work-flow__item--daily:before {
    background-image: url('../sections/mova-mais/media/flow2.svg');
  }
  .work-flow__item--convert:before {
    background-image: url('../sections/mova-mais/media/flow3.svg');
  }
}

/* Walkthroughs */
.mm__walkthroughs {
  background-image: none;
  background-color: var(--mm-BGColorful);
  color: white;
  font-size: 20px;
}

.chess-list-walkt {
  img {
    max-width: 490px;
    width: 100%;
  }
  > li p {
    font-size: 34px;
    max-width: 400px;
  }
  > li:last-child {
    margin-bottom: 0;
  }
}

.chess-list-engagement {
  img {
    border-radius: 10px;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 2px 2px,
      rgba(0, 0, 0, 0.1) 0px 4px 4px,
      rgba(0, 0, 0, 0.1) 0px 8px 8px,
      rgba(0, 0, 0, 0.1) 0px 16px 16px,
      rgba(0, 0, 0, 0.1) 0px 32px 32px,
      rgba(0, 0, 0, 0.1) 0px 64px 64px;
  }
  .chess-list__title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 50px;
    line-height: 1.3;
  }
  .chess-list__title:after {
    display: none;
  }
  > li p {
    max-width: 340px;
  }
  > li strong {
    color: #55c367;
    font-weight: 500;
  }
}

.chess-list--resources {
  margin-top: 120px;

  > li {
    .chess-list__title {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 50px;
      line-height: 1.3;
      max-width: 450px;
    }
    p {
      max-width: 340px;
    }
  }
}

/* Daily Goal */
.mm__daily-goal .work-step__description{
  margin-bottom: 0;
}

.mm__daily-goal__image {
  overflow: hidden;

  img {
    max-width: 1722px;
    width: calc(120% + 300px);
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }
}

/* Engagement */
.mm__engagement {
  .container {
    max-width: 1150px;
  }
}

/* Points */
.mm__points .work-step__description {
  max-width: 400px;
}

/* Step 08 */
.mm__results {
  background-image: none;
  background-color: var(--mm-BGColorful);
  color: white;

  img {
    margin: 140px 0 50px;
  }
  p {
    font-size: 32px;
  }
}

.mm__available {
  padding: 0 0 100px;

  a {
    display: inline-block;
    margin: 10px 30px;
    max-width: 320px;
  }
  img {
    background-color: black;
    width: 320px;
    border-radius: 12px;
    box-shadow:
      rgba(0, 0, 0, .1) 0px 2px 2px,
      rgba(0, 0, 0, .1) 0px 4px 4px,
      rgba(0, 0, 0, .1) 0px 8px 8px,
      rgba(0, 0, 0, .1) 0px 16px 16px,
      rgba(0, 0, 0, .1) 0px 32px 32px,
      rgba(0, 0, 0, .1) 0px 64px 64px;
  }
}

@media (--viewport-min) {  
  .chess-list-engagement > li .chess-list__title,
  .chess-list--resources > li .chess-list__title {
    font-size: 35px;
  }

  .chess-list-engagement img,
  .chess-list--resources img {
    width: 80%;
  }

  /* Step 08 */
  .work-step--mm08 {
    img {
      margin-top: 0;
    }
    p {
      font-size: 26px;
    }
  }
  .mm__available {
    a {
      max-width: 280px;
    }
  }
}