/* Objective */
.work-objective {
  margin: 0 auto;
  padding: 100px 0 200px;
  width: 100%;

  .container {
    max-width: 950px;
  }
  p {
    font-size: 52px;
    font-weight: 100;
    line-height: 1.3;
  }
}