/* Objective */
.work-objective {
  margin: 0 auto;
  padding: 100px 0 200px;
  width: 100%;

  .container {
    max-width: 950px;
  }
  p {
    font-size: 52px;
    line-height: 1.3;
  }
}

@media (--viewport-med) {
  .work-objective p {
    font-size: calc(10px + 5vw);
  }
}