.work-head {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.work-head__media {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &.work-head__media--image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  &.work-head__media--video {
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.work-head .container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.work-head__title {
  text-transform: uppercase;
  font-size: 140px;
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 28px;
  color: white;
  margin-bottom: 20px;
}
.work-head__category {
  font-size: 30px;
  font-weight: 600;
  color: #a8a7a7;

  &::before,
  &::after {
    content: " - ";
    margin: 0 8px;
  }
}

.work-head__button {
  background-image: url('../components/work-head/arrow-bottom.svg');
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-position: center 35px;
  background-size: 35px;
  transition: 0.2s transform;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  bottom: 40px;
  width: 80px;
  height: 80px;
}
.work-head__button:hover {
  transform: translateY(5px);
}