html, body {
	background-color: var(--whiteBackground);
}

body.single-work-active {
	overflow: hidden;
	//height: 100vh;
}
main {
	background-color: var(--whiteBackground);
	position: relative;
	z-index: 2;
}