.container {
  transition: 0.4s padding;
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--side-spacing);
  padding-right: var(--side-spacing);
  max-width: 1440px;
  width: 100%;
}
.container--full {
  padding-left: 0;
  padding-right: 0;
}
@media (--viewport-max) {
  .container {
    padding-left: var(--fluid-side-spacing)vw;
    padding-right: var(--fluid-side-spacing)vw;
  }
  .container--full {
    padding-left: 0;
    padding-right: 0;
  }
}