.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 80px;
  padding-right: 80px;
  max-width: 1440px;
  width: 100%;
}
.container--full {
  padding-left: 0;
  padding-right: 0;
}

@media (--viewport-medium ) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .container--full {
    padding-left: 0;
    padding-right: 0;
  }
}